/** @format */

.mega-menu {
  display: none;
  position: absolute;
  text-align: left;
  width: 100%;
}

/* #hoverable Class Styles */
.hoverable {
  position: static;
}

.hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  display: block;
}

/* #toggle Class Styles */

.toggleable > label:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}

.toggle-input:checked ~ .mega-menu {
  display: block;
}

.toggle-input:checked + label {
  color: white;
  background: rgb(3, 102, 114); /*@apply bg-teal-700 */
}

.toggle-input:checked ~ label:after {
  content: "\25B2";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.stroke-text {
  color: black;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.stroke-text-offer {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-weight: 800;
}

.offer-section {
  background-image: url("../src/assets/cms-banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.alice-carousel__dots {
  margin: unset !important;
}

.alice-carousel__stage-item {
  height: 550px !important;
}

.newLetterOverlay {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.women-catagory {
  transition: 1s ease;
}

.new-banner {
  background-image: url("../src/assets/newsletter-bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 252px;
}

.blink {
  animation: blinker 2s linear infinite;
  color: #e4853f;
}

@keyframes blinker {
  100% {
    opacity: 0;
  }
}

@media (max-width: 1280px) {
  .catagories {
    flex-direction: column;
  }
  .womenCatagory,
  .menCatagory {
    justify-content: center;
  }

  .menCatagory {
    padding-top: 34px;
  }
}

@media (max-width: 767px) {
  .womenCatagory .list,
  .menCatagory .list {
    max-width: 16rem;
  }
  .womenCatagory h1,
  .menCatagory h1 {
    font-size: 2rem;
  }
  .subscribe-banner {
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    height: 38vh;
  }
}

@media (max-width: 550px) {
  .womenCatagory,
  .menCatagory {
    flex-direction: column;
    align-items: center;
  }
  .offer-section {
    flex-direction: column;
    gap: 34px;
  }
  .offer {
    -webkit-text-stroke-color: black;
  }
  .mobile-view {
    position: absolute;
    top: 116px;
    left: 116px;
  }
}
